<div id='header'></div>
<div id='title'><a href="#">Club<span class="title-secondary">Pointz</span></a></div>
<div id='content'></div>

<script type="text/javascript">
  window.sailsExports = {}
  sailsExports.racesJson = <%- JSON.stringify(races) %>
  sailsExports.teamsJson = <%- JSON.stringify(teams) %>
  sailsExports.teamResultsJson = <%- JSON.stringify(teamResults) %>
  sailsExports.headingsJson = <%- JSON.stringify(headings) %>
  sailsExports.divisionsJson = <%- JSON.stringify(divisions) %>
</script>
